@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'PlayFairBold';
  src: url('../src/templates//assets/fonts/PlayfairDisplay-Bold.ttf') format("truetype");
}

.font-fam-bold{
  font-family: 'PlayFairBold';
}

.underline-effect {
    position: relative;
    color: #000000;
  }
  
  .underline-effect::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #000000;
    transition: all 0.4s ease-in-out;
    left: 50%;
    bottom: -5px;
  
  }
  
  .underline-effect:hover::after {
    width: 100%;
    left: 0;
  }

/*Chaning UNderline*/
.underline-effect-pink {
  position: relative;
  color: #000;
}

.underline-effect-pink::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #D1547E;
  transition: all 0.4s ease-in-out;
  left: 50%;
  bottom: -5px;

}

.underline-effect-pink:hover::after {
  width: 100%;
  left: 0;
}

.fade-in-text {
  animation: fadeIn 2.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px); /* Added 'px' unit */
  }
  100% {
    opacity: 1; /* Changed to 1 for fully opaque */
    transform: translateY(0);
  }
}